footer.center-block
  .container-fluid
    .col-md-12.text-center
      a(href="/")
        img.logo(src="images/logo-footer.png", alt="S-XL ARQUITECTOS", title="S-XL ARQUITECTOS")
  .container-fluid
    .col-md-12.center-block
      nav.container-item.text-center
        .item
          a(href="index.html") <span>/</span>HOME
        .item
          a(href="about_us.html") <span>/</span>ACERCA DE NOSOTROS
        .item
          a(href="project_portfolio.html") <span>/</span>PORTAFOLIO DE PROYECTOS
        .item
          a(href="project_parallel.html") <span>/</span>PROYECTOS PARALELOS
        .item
          a(href="publications.html") <span>/</span>PUBLICACIONES
        .item
          a(href="blog.html") <span>/</span>BLOG
        .item
          a(href="contact.html") <span>/</span>CONTACTO
  .container-fluid
    .col-md-12.center-block
      .line2.center-block
  .container-fluid
    .col-md-12.text-center
      button Contáctanos ahora.
  .container-fluid
    .col-md-12.text-center
      p &copy; Copyright 2015 / S-XL ARQUITECTOS