header
  nav.navbar.navbar-default.center-block
    .container-fluid
      .col-xs-12
        a.logo(href="/")
          img(src="images/logo.png", class='logoNegro', alt="S-XL ARQUITECTOS", title="S-XL ARQUITECTOS")
          img(src="images/logo-blanco.png", class='logoBlanco', alt="S-XL ARQUITECTOS", title="S-XL ARQUITECTOS")
        #headerline.line
        input.btn-navbar(type="button" value="menu")
        .wrapper-menu
          .close-menu
          ul#navPrin
            li
              a(href="index.html") <span>/</span>HOME
            li
              a(href="about_us.html") <span>/</span>ACERCA DE NOSOTROS
            li
              a(href="project_portfolio.html") <span>/</span>PORTAFOLIO DE PROYECTOS
            li
              a(href="project_parallel.html") <span>/</span>PROYECTOS PARALELOS
            li
              a(href="publications.html") <span>/</span>PUBLICACIONES
            li
              a(href="blog.html") <span>/</span>BLOG
            li
              a(href="contact.html") <span>/</span>CONTACTO
          .social
            a.ico.fb(href="#")
            a.ico.pint(href="#")
            a.ico.inst(href="#")
            .social-text
              | telf. 767 6231 - 712 5761