script(src="js/vendor/jquery.min.js")
script(src="js/vendor/bootstrap.min.js")
script(src="js/vendor/jquery.jscroll.min.js")
script(src='js/vendor/bootstrap-paginator.js')
script(src='js/vendor/jquery-ui.min.js')
script(src='js/dataBusqueda.js')