extends layout/layout
include layout/mixins

block htmlTitle
  title S-XL Arquitectos | Blog

block content
  input(type='hidden',class='dataNav',id='5')
  .contGen.container.borderBlo
    .form-group.sepTopBlog
      input(type='text',class='form-control',id='txtSearch',placeholder='Busqueda')
      a(class='btnSearch')
        img(src='images/btnSearch.png')
    .row.sepTopBlog
      .col-md-6.col-sm-12.col-xs-12
        .row
          .col-md-10
            h2.sepTop6 Blog lorem ipsum eu se magni dolores reun meit teos qui ratione neun voluptatem sequi nesciunt
             | arem agrepthe.
            p.blog Sed ut perspiciatis unde omnis iste natus error sit voluptatem non numquam eius.
      .col-md-6.col-sm-12.col-xs-12
        .contImg
          img(src='images/img-blog-col-6-1.jpg' class='img-responsive')
    .row.sepTopBlog
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-2.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-3.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
    .row.sepTopBlog
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-4.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-5.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
    .row.sepTopBlog
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-6.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
      .col-md-6.col-sm-6.col-xs-12
        .contImg.text-center
          img(src='images/img-blog-col-6-7.jpg' class='img-responsive')
          .pegatinaLupa
            img(src='images/btnSearch.png')
          .mask
            .contDataMaskLupa
              img(src='images/icoLupa.png')
        .col-md-12.noPaddingBlog
          h3 LOREM IPSUM SIT AMET.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
    .row.text-center
      ul.pagination
        li: a 1
        li: a 2
        li: a 3
        li: a 4
        li: a 5
