extends layout/layout
include layout/mixins

block htmlTitle
  title S-XL Arquitectos | Proyectos paralelos

block content
  input(type='hidden',class='dataNav',id='3')
  .contGen.container.border
    h3.sepTop4 PROYECTOS PARALELOS
    p.borBoot Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
     |aperiam, eaque ipsa quae ab illo inventore veritatis et. Sed ut perspiciatis unde omnis iste natus error sit
     |voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
     |etpiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
     |eaque ipsa quae ab illo inventore veritatis et. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
     |accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et. Sed ut
     |perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau.
    .row.sepTop3.borTop
      .col-md-6.col-sm-6.col-xs-12
        .contImg
          img(src='images/img-parallel-col-6-1.jpg' class='img-responsive')
      .col-md-6.col-sm-6.col-xs-12
        .row
          .col-md-8.col-lg-offset-2.col-md-offset-1
            h3.sepTop6 NOMBRE.
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

    .row.sepTop1Estan.borTop
      .col-md-6.col-sm-6.col-xs-12
        .row
          .col-md-8.col-lg-offset-2.col-md-offset-1
            h3.sepTop6 NOMBRE.
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      .col-md-6.col-sm-6.col-xs-12
        .contImg
          img(src='images/img-parallel-col-6-3.jpg' class='img-responsive')

    .row.sepTop1Estan.borTop
      .col-md-6.col-sm-6.col-xs-12
        .contImg
          img(src='images/img-parallel-col-6-3.jpg' class='img-responsive')
      .col-md-6.col-sm-6.col-xs-12
        .row
          .col-md-8.col-lg-offset-2.col-md-offset-1
            h3.sepTop6 NOMBRE.
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    .row.text-center
      a(class='btnRaedMore sepTop3'): span Seguir Viendo