extends layout/layout
include layout/mixins

block htmlTitle
  title S-XL Arquitectos | proyectos3

block content
  input(type='hidden',class='dataNav',id='2')
  .wrapper-project3.center-block
    .container-fluid
      .col-md-12.center-block
        .line.center-block
    .container-fluid
      .col-md-4
        .wrapper-text
          a.btn(href="#") <
          h2 GREEN STATION
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis etum.
      .col-md-8
        .wrapper-img
          img(src="images/project3-1.jpg", alt="")
    .container-fluid
      .col-md-12
        h3 GALERIA
    .container-fluid
      .col-md-4
        .wrapper-img
          img(src="images/project3-11.jpg", alt="")
      .col-md-4
        .wrapper-img
          img(src="images/project3-12.jpg", alt="")
      .col-md-4
        .wrapper-img
          img(src="images/project3-13.jpg", alt="")
    .container-fluid
      .col-md-6
        .container-fluid
          .col-md-6
            .wrapper-img
              img(src="images/project3-21.jpg", alt="")
          .col-md-6
            .wrapper-img
              img(src="images/project3-22.jpg", alt="")
        .container-fluid
          .col-md-6
            .wrapper-img
              img(src="images/project3-21.jpg", alt="")
          .col-md-6
            .wrapper-img
              img(src="images/project3-22.jpg", alt="")
      .col-md-6
        .wrapper-img
          img(src="images/project3-31.jpg", alt="")
