extends layout/layout
include layout/mixins

block htmlTitle
  title S-XL Arquitectos | Publicaciones
block importtop
  link(rel="stylesheet", href="css/vendor/jquery.fancybox.css")
block importbottom
  script(src='js/vendor/jquery.fancybox.js')
block content
  input(type='hidden',class='dataNav',id='4')
  .contGen.container.border
    h3.sepTop4 PUBLICACIONES
    .infinite-scroll
      .row.sepTop1Estan.sepTop2
        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-1.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')
        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-2.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')

        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-3.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')
      .row.sepTop1Estan
        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-4.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')
        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-5.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')
        .col-md-4.col-sm-4.col-xs-12
          .contImg.text-center
            img(src='images/img-publication-6.jpg' class='img-responsive')
            a(class='lightbox mask' href="images/ligtbox-img.jpg" rel="galeria" title="Lorem ipsum sit amet eu neu tromehun intho arguh imahgt redumble.")
              .contDataMask
                .txtMask Eu se magni dolores eos qui ratione volu ptatem sequi nesciunt arem itsajum epton neu.
              .contDataMaskLupa
                img(src='images/icoLupa.png')

      .row.text-center
        a(href='publications_page2.html' class='btnRaedMore sepTop1Estan'): span Seguir Viendo
