
.row.sepTop1Estan
  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-1.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')
  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-2.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')

  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-3.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')
.row.sepTop1Estan
  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-4.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')
  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-5.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')
  .col-md-4.col-sm-4.col-xs-12
    .contImg.text-center
      img(src='images/img-publication-6.jpg' class='img-responsive')
      .mask
        .contDataMaskLupa
          img(src='images/icoLupa.png')

