extends layout/layout
include layout/mixins

block htmlTitle
  title S-XL Arquitectos | Portafolio

block content
  input(type='hidden',class='dataNav',id='2')
  .contGen.container.border
    h3 LOCALES COMERCIALES O RETAIL
    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
    .infinite-scroll
      .row.sepTop1Estan
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-1.jpg' class='img-responsive')
            .pegatinaTitle: span NOMBRE MARCA
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask NOMBRE MARCA
                .btnViewProject
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-2.jpg' class='img-responsive')
            .pegatinaTitle: span GREEN STATION
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask GREEN STATION
                .btnViewProject
      .row.sepTop1Estan
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-3.jpg' class='img-responsive')
            .pegatinaTitle: span NOMBRE MARCA
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask NOMBRE MARCA
                .btnViewProject
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-4.jpg' class='img-responsive')
            .pegatinaTitle: span NOMBRE MARCA
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask NOMBRE MARCA
                .btnViewProject
      .row.sepTop1Estan
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-5.jpg' class='img-responsive')
            .pegatinaTitle: span NOMBRE MARCA
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask NOMBRE MARCA
                .btnViewProject
        .col-md-6.col-sm-6.col-xs-12.text-center
          .contImg
            img(src='images/img-sub-col-6-6.jpg' class='img-responsive')
            .pegatinaTitle: span NOMBRE MARCA
            a(class='mask',href='detail_categoria.html')
              .contDataMask
                .txtMask NOMBRE MARCA
                .btnViewProject
      .row.text-center
        a(href='sub_catagoria_page2.html' class='btnRaedMore sepTop1Estan'): span Seguir Viendo
