.row.sepTop1Estan
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-1.jpg' class='img-responsive')
      .pegatinaTitle: span NOMBRE MARCA
      .mask
        .contDataMask
          .txtMask NOMBRE MARCA
          a(class='btnViewProject')
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-2.jpg' class='img-responsive')
      .pegatinaTitle: span GREEN STATION
      .mask
        .contDataMask
          .txtMask GREEN STATION
          a(class='btnViewProject')
.row.sepTop1Estan
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-3.jpg' class='img-responsive')
      .pegatinaTitle: span NOMBRE MARCA
      .mask
        .contDataMask
          .txtMask NOMBRE MARCA
          a(class='btnViewProject')
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-4.jpg' class='img-responsive')
      .pegatinaTitle: span NOMBRE MARCA
      .mask
        .contDataMask
          .txtMask NOMBRE MARCA
          a(class='btnViewProject')
.row.sepTop1Estan
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-5.jpg' class='img-responsive')
      .pegatinaTitle: span NOMBRE MARCA
      .mask
        .contDataMask
          .txtMask NOMBRE MARCA
          a(class='btnViewProject')
  .col-md-6.col-sm-6.col-xs-12.text-center
    .contImg
      img(src='images/img-sub-col-6-6.jpg' class='img-responsive')
      .pegatinaTitle: span NOMBRE MARCA
      .mask
        .contDataMask
          .txtMask NOMBRE MARCA
          a(class='btnViewProject')
.row.text-center

